

#foto_perfil{
    border-radius: 300px;
    height: 190px;
    width: 190px;
}

#portada{
    display: inline-block;
    height: 250px;
    width: 600px;
    margin: 10px;
}

h1{
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

h2{
    display: inline-block;
    color: burlywood;
    font-family: 'Roboto', sans-serif;
}

#habilidades, #experiencia_laboral, #educacion{
    width: 250px;
    margin: 5px;
}

body{
    background-color: antiquewhite;
}

#redes{
    display: inline-block;
}

#linkedin_foto, #github_foto{
    border-radius: 300px;
    height: 50px;
    width: 50px;
}